<main class="not-logged-body">

    <div id="not-logged-in">
        <div class="not-logged-in">
            <div class="not-logged-in-oops">
                <h1>Oops!</h1>
                <h2>It seems you are not Logged in</h2>
            </div>
            <a id="not-logged--button" href="http://localhost:3000/">Login</a>
        </div>
    </div>

</main>