<main class="wrong-access-body">
    <div class="error-main">
        <h1>Oops!</h1>
        <div class="error-heading">403</div>
        <p class="wrong-access-p">You do not have permission to access the requested page.</p>
    </div>
</main>